backports.tarfile==1.2.0
boto3==1.35.0
bs4==0.0.2
importlib-metadata==8.0.0
importlib-resources==6.4.0
ipykernel==6.29.5
jaraco.collections==5.1.0
openai==1.41.0
pip-chill==1.0.3
plotly==5.24.1
scikit-learn==1.4.1.post1
seaborn==0.13.2
streamlit==1.39.0
textblob==0.18.0.post0
tomli==2.0.1
wordcloud==1.9.3
xgboost==2.1.1
xlrd==2.0.1
httptools==0.6.1
langchain-chroma==0.1.4
langchain-experimental==0.3.0
langchain-openai==0.2.0
pandas-datareader==0.10.0
pygwalker==0.4.9.10
pypdf==5.0.0
sentence-transformers==3.1.1
watchfiles==0.24.0
# pysqlite3-binary
